#intro {
  background-color: #FFFAF5;
}
#intro .wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
#intro .wrapper .content__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 70.63px;
}
#intro .wrapper .content__desc {
  font-weight: 400;
  font-size: 13px;
  line-height: 25.5px;
}

@media only screen and (max-width: 1550px) {
  #intro .image img {
    max-width: 600px;
  }
}
@media only screen and (max-width: 1450px) {
  #intro .image img {
    max-width: 500px;
  }
}
@media only screen and (max-width: 1450px) and (max-width: 1250px) {
  #intro .image img {
    max-width: 450px;
  }
}
@media only screen and (max-width: 1450px) and (max-width: 430px) {
  #intro .image img {
    max-width: 380px;
  }
}
.swiper {
  width: 70%;
  height: 100%;
}

.swiper__nav__title {
  font-weight: 900;
  font-size: 25px;
  line-height: 49.05px;
  color: #241400;
}

#swiper {
  background-color: #FFFAF5;
}
#swiper .swiper__nav {
  height: 70px;
}
#swiper .swiper__nav ul {
  margin-right: 150px;
}
#swiper .swiper__nav ul li a {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #241400;
}
#swiper .mySwiper {
  padding-top: 50px;
}
#swiper .mySwiper .slider .card {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 184px;
  background-color: #fff;
  border: none;
  padding: 20px;
}
#swiper .mySwiper .slider .card img {
  width: 134px;
}
#swiper .mySwiper .slider .card h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
}
#swiper .mySwiper .slider .card h5 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 1px;
}
#swiper .mySwiper .slider .card p {
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
}
#swiper .mySwiper .slider .card .btn {
  background-color: #E16A00;
}
#swiper .mySwiper .slider .card .actions {
  gap: 2px;
}
#swiper .mySwiper .slider .card .actions img {
  width: 29px;
}
#swiper .range {
  width: 100%;
}

#catalog {
  background-color: #FFFAF5;
  padding: 75px;
}
#catalog .row {
  display: flex;
  justify-content: space-around;
}
#catalog .card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  width: 223px;
}
#catalog .card h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
}

#about-shop {
  background-color: #FFFAF5;
  width: 100%;
}
#about-shop .wrapper .value {
  font-weight: 900;
  font-size: 50px !important;
  font-size: 98px;
}
#about-shop .wrapper small {
  font-weight: 400;
  font-size: 13px !important;
  font-size: 25.5px;
}
#about-shop .wrapper .more {
  font-weight: 700;
  font-size: 12px;
  line-height: 23px;
  color: #241400;
}
#about-shop .wrapper .delivery_title {
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  color: #241400;
}

header {
  height: 80px;
  background-color: #FFFAF5;
}
header nav ul li a {
  color: #241400;
  font-size: 14px;
  font-weight: 400;
  line-height: 23.54px;
}
header nav .inputer {
  position: relative;
}
header nav .inputer img {
  position: absolute;
  left: 0px;
  top: 6px;
}
header nav .inputer input {
  border: none;
  outline: none;
  border-bottom: 1px rgba(105, 103, 100, 0.5882352941) solid;
  width: 150px;
  padding-left: 20px;
  background: transparent;
}
header nav .mobile-menu {
  display: none;
}

@media only screen and (max-width: 992px) {
  .favourites img {
    width: 25px;
    background-color: #fff;
  }
  .favourites .bottom-peak {
    width: 9px;
  }
}
footer {
  background-color: #391F00;
  color: #FFFFFF;
}
footer .list .logo {
  background-color: #fff;
}
footer .list li a {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
}
footer .contact .btn-call {
  background-color: transparent;
  color: #E16A00;
  border: #E16A00 1px solid;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=style.css.map */