footer{
   background-color: #391F00;
   color: #FFFFFF;
   .list{
      .logo{
         background-color: #fff;
      }
      li a{
         color: #ffffff;
         font-weight: 400;
         font-size: 13px;
         line-height: 25px;
      }
   }
   .contact{
     .btn-call{
      background-color: transparent;
      color: #E16A00;
      border: #E16A00 1px solid;
     }
   }
}
.mobile-menu{
   li{
      a{
         
      }
   }
}