#intro{
   background-color: #FFFAF5;
   // height: calc(80vh - 80px);
   .wrapper{
      padding-top: 80px;
      padding-bottom: 80px;
      .content{
         // width: 370px;
         &__title{
            font-weight: 900;
            font-size: 36px;
            line-height: 70.63px;  
         }
         &__desc{
            font-weight: 400;
            font-size: 13px;
            line-height: 25.5px;
         }
      }
   }
}

@media only screen and (max-width:1550px){
   #intro{
      .image{
         img{
            max-width:600px
         }
      }
   }
}
@media only screen and (max-width:1450px){
   #intro{
      .image{
         img{
            max-width:500px
         }
      }
   }
@media only screen and (max-width:1250px){
   #intro{
      .image{
         img{
            max-width:450px
         }
      }
   }
}
@media only screen and (max-width:430px){
   #intro{
      .image{
         img{
            max-width:380px
         }
      }
   }
}
}

